{%extends 'base/base.html' %}


{%block title%}
Blog Home - GHR Control Systems
{%endblock title%}

{%block navigation%}
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index')}}">Home
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
    </li>
{%endblock navigation%}


{%block center%}
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <div>&nbsp;</div>
{%block post%}
            {%if post%}
            {%for row in post%}
          <!-- Blog Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="static/img/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{row.title_post}}</h2>
              <p class="card-text">{{row.text_post}}</p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div cl
ass="card-footer text-muted">
              Posted on January 1, 2017 by
              <a href="#">GHR Control Systems</a>
            </div>
          </div>
            {%endfor%}
            {%endif%}
{%endblock post%}
            {%if post%}
          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>
            {%endif%}
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
          {%include 'base/Search_Widget.html'%}
            <!-- Categories Widget -->
          {%include 'base/Categories_Widget.html'%}
            <!-- Side Widget -->
          {%include 'base/Side_Widget.html'%}

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{%endblock center%}